
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    
    <title>Newsletter V.2</title>

    <link rel="stylesheet" href="css/style-admin.css" />
  </head>
  <body>

    <div class="moving-gradient-background">

<table class="custom-table">

    <thead>
        <tr>
            <th> <input id="parent_checkbox" type="checkbox" value=""> </th>
            <th>User Name</th>
            <th>Email</th>
            <th>Field</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>

            <!-- I need to create a tr for all user -->

            <!-- Example -->
            <!-- <tr>
                <td>Emin Pehlivan</td>
                <td>dasjgnfkd@hotmail.com</td>
                <td>Hotmail</td>
                <td>
                    <button>Button A</button>
                    <button>Button A</button>
                    <button>Button A</button>
                </td>
            </tr> -->

            <% for(let i = 0; i < join_data_array.length ; i++) { %>

            <tr>
                <td>  <input id="<%=i%>" type="checkbox" value=""> </td>
                <td> <%= join_data_array[i].name %></td>
                <td> <%= join_data_array[i].email %></td>
                <td> <%= join_data_array[i].fieldname %></td>
                <td>
                    <!-- <button><img class="update_button" src="images/update_button.svg" alt=""></button>
                    <button><img  class="delete_button" src="images/delete_button.svg" alt=""></button>
                     -->
                     <button>
                        <svg id="svg1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 25 2 A 2.0002 2.0002 0 1 0 25 6 C 35.517124 6 44 14.482876 44 25 C 44 35.517124 35.517124 44 25 44 C 14.482876 44 6 35.517124 6 25 C 6 19.524201 8.3080175 14.608106 12 11.144531 L 12 15 A 2.0002 2.0002 0 1 0 16 15 L 16 4 L 5 4 A 2.0002 2.0002 0 1 0 5 8 L 9.5253906 8 C 4.9067015 12.20948 2 18.272325 2 25 C 2 37.678876 12.321124 48 25 48 C 37.678876 48 48 37.678876 48 25 C 48 12.321124 37.678876 2 25 2 z"/></svg>
                     </button>
                     <button><?xml version="1.0"?><svg id="svg2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">    <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"/></svg></button>

                </td>

            </tr>

            <% } %>
            
        </tbody>
</table>

<div class="email_service" >
    <input class="input_email" type="text" placeholder="Email">
    <button class="button_send" >Send</button>
    <div class="button_wrapper">
    <button class="button_google_service" onclick="gmailServiceStarter()">Connect to the Email Service</button>
</div>
</div>
</div>

<script>

        const parent_checkbox = document.getElementById("parent_checkbox");
        parent_checkbox.addEventListener("click",()=>{

            const allcheckboxes = document.querySelectorAll('input[type="checkbox"]');
            
            if(parent_checkbox.checked){
                allcheckboxes.forEach((e)=>{
                    e.checked=true;
                });
            }else{
                allcheckboxes.forEach((e)=>{
                    e.checked=false; 
                });
            }   
});

    function gmailServiceStarter(){

        const form = document.createElement('form');
        form.id = 'myForm';
        form.method="GET";
        form.action ="/gmailcon";

        // Attached form into document

        const container = document.querySelector(".email_service");
        container.appendChild(form);

        form.submit();

    }

   
</script>
</body>
    </html>
    