<%- include('header'); -%>

    <div class="success">
      <div class="success-wrapper">
        <img class="icon-success" src="images/icon-success.svg" alt="" />
        <h1 class="success-title"> Hey!! You've already enrolled..</h1>
        <p class="success-p">
            Thanks for subscribing!
        </p>
        <form action="/" method="get">
        <button type="submit" id="button_dismis" class="button">Dissmiss message</button>
    </form>
      </div>
    </div>

    <%- include('footer'); -%>