<%- include('header'); -%>

    <div class="container">
      <div class="form-wrapper">
        <h1 class="form-title">Stay updated!</h1>
        <div class="form-mid-section">
          <p>Join 60,000+ product managers receiving monthly updates on:</p>
          <ul class="list | mt-5">
            <li>
              <img src="images/icon-list.svg" alt="" srcset="" />
              <span> Product discovery and building what matters</span>
            </li>
            <li>
              <img src="images/icon-list.svg" alt="" srcset="" /><span>
                Measuring to ensure updates are a success</span
              >
            </li>
            <li>
              <img src="images/icon-list.svg" alt="" />
              <span> And much more!</span>
            </li>
          </ul>
        </div>
        <form id="form_google" action="/google" method="post"></form>
        <form
          id="form01"
          class="form | margin-block--start-2"
          method="post"
          action="/"
        >
          <div class="sub_title">
            <label class="mb-2">Email address</label>
            <span id="label" class="invali">Valid email required</span>
          </div>

          <div class="form-inner-wrapper">
            <input
              id="01_email"
              type="email"
              name="email"
              placeholder="email@company.com"
            />
            <button type="submit" form="form01" class="button">
              Subscribe to monthly newsletter
            </button>

           
            <button class="button-gmail" form="form_google"  type="submit" >
              <img
                class="service-icons"
                src="images/icons8-google.svg"
                alt=""
              />

              <span>Check your Calendar with Gmail</span>
            </button>
          
            <button class="button-outlook">
              <img
                class="service-icons"
                src="images/icons8-outlook.svg"
                alt=""
                srcset=""
              />
              <span>Check your Calendar with Outlook</span>
            </button>
          </div>
        </form>
      </div>
      <div class="image-wrapper">
        <img
          class="illustration"
          src="images/illustration-sign-up-desktop.svg"
          alt=""
          srcset=""
        />
        <img
          class="illustration-mobile"
          src="images/illustration-sign-up-mobile.svg"
          alt=""
          srcset=""
        />
      </div>
    </div>

  
    <%- include('footer'); -%>