<%- include('header'); -%>

    <div class="success">
      <div class="success-wrapper">
        <img class="icon-success" src="images/icon-success.svg" alt="" />
        <h1 class="success-title">Thanks for subscribing!</h1>
        <p class="success-p">
          A confirmation email has been sent to
          <span class="success_span"><%=user_email%></span> Please open it
          and click the button inside to confirm your subscription.
        </p>
        <form action="/" method="get">
        <button id="button_dismis" class="button">Dissmiss message</button>
      </div>
    </div>

    <%- include('footer'); -%>