:root{


    --clr-primary-100:hsl(0, 0%, 9%);
    --clr-primary-150: hsla(0, 4%, 14%, 0.7);
    --clr-primary-300:hsl(218, 100%, 59%);

    --clr-neutral-100:hsla(227, 29%, 94%,0.8);
    --clr-neutral-150:hsla(227, 29%, 94%);
   

    /* Typography */

    --ff-body:'Poppins', sans-serif;
    --fw-extraLight:200;
    --fw-regular:400;
    --fw-semiBold:600;

    --fs-standart: 14px;
/* 
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 900; */
  
    /* Special variables for spacing */
    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}


/* Reseter */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


body{
    font-family: var(--ff-body);
    height: 100vh;
}


/* Table */

.moving-gradient-background{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: moveGradient 10s linear infinite;
    background:  linear-gradient(45deg, #4158d0,#c850c0, #4158d0,#c850c0,#4158d0);
    background-size: 600% 600%;
    /* background:  linear-gradient(45deg,#4158d0,#c850c0); */


}

@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }


/* Table */


/* Apply general styles to the table */
.custom-table {
    height: max-content;
    border-radius: 2rem;
}

/* Apply styles to table header */
.custom-table th {
    background-color:var(--clr-primary-300);
    color: var(--clr-neutral-150);
    padding: var(--size-300);
    text-align: left;
    font-weight: bold;
}

.custom-table th:first-child {
    border-top-left-radius: 1rem;
    
}

.custom-table th:last-child {
    border-top-right-radius: 1rem;
}


/* th icin border radius first child elements left , last child elements right */

/* Apply styles to table body rows */
.custom-table td {
    padding: 12px;
    border: 1px solid #ccc;
}

/* Apply alternate row background color for better readability */
.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.custom-table tbody tr:nth-child(odd) {
    background-color: #ece8e1f4;
}

/* Style the buttons in the table */
.custom-table button {
   cursor: pointer;
   border: none;
   background-color: transparent;
}

/* .custom-table button:hover {
    background-color: #0056b3;
} */


#svg1{
    width: 30px;
    height: 30px;
    margin-right: var(--size-100);
    fill: #4158d0;
}

#svg1:hover{
    fill: white;
}
#svg2{
    width: 30px;
    height: 30px;
    margin-left: var(--size-100);
    fill: #4158d0;
}
#svg2:hover{
    fill: white;
}


/* Email Service */

.title_email {
    border: none;
    padding: var(--size-100);
    margin-bottom: var(--size-100);
    margin-left: var(--size-300);
    border-radius: 0.5rem;
    width: 500px;
   
}

.email_service{
    margin-block-start: var(--size-700);
}

.input_email{
    padding-left: var(--size-200);
    border: none;
    border-radius: 1rem;
    width: 520px;
    height: 100px;
}

.button_send{
    cursor: pointer;
    border: 1px solid var(--clr-neutral-150);
    border-radius: 1rem;
    padding: var(--size-300);
    background-color: var(--clr-primary-300);
    color: var(--clr-neutral-150);
}
.button_send:hover{
    background-color:#4158d0;

}

.button_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_google_service{
    margin-top: var(--size-100);
    width: max-content;
    border: none;
    padding: var(--size-100);
    border-radius: 1rem;
}
.button_google_service:hover{
    background-color: black;
    color: var(--clr-neutral-150);
}



/* POP-UP */

#popup{

    width: max-content;
    background-color: rgb(221, 10, 10);
    color: var(--clr-neutral-150);
    padding: var(--size-200);
    text-align: center;
    border-radius: 0.5rem;
    transform: translateY(7rem);
}
#popup p{
    width: 20ch;

}



/* Transition Classess */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  }
  
  .popup-show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  }